/* index.html */
body{
    background-color: black;
}
.heading{
    color: rgb(255, 0, 204);
    font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;
    font-weight: 900;
    display: flex;
    justify-content: center;
}
h1{
    margin: 70px 0px 0px 0px;
}
.subtitle h3{
    color:rgb(255, 0, 204);
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    margin: 20px 0px 0px 0px;
}
.play-button .play{
    color: black;
    background-color: rgb(255, 0, 204);
    height: 80px;
    width: 300px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px 10px 10px 10px;
}
.play-button{
    display: flex;
    justify-content: center;
    padding: 220px 100px 0px 100px;
}
/*game.html*/
.top-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.time{
    border: 4px solid white;
    border-radius: 10px;
    color: black;
    background-color: rgb(255, 0, 204);
    font-size: 3rem;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 1000;
    margin-left: 150px;
    margin-top: 50px;
}
.game-rule{
    margin-top: 0;
    text-align: center;
    color: rgb(255, 0, 204);
    font-weight: 600;
    font-size: 2.5rem;
}
.game-boxes{
    display: flex;
    justify-content: space-around;
    padding: 100px 0px 100px 0px;
}
.guess{
    display: flex;
    align-items: center;
    color: rgb(255, 0, 204);
    font-size: 10rem;
}
.box{
    height: 250px;
    width: 300px;
    background-color: rgb(255, 0, 204);
    border: 5px solid white;
    font-size: 7rem;
    font-weight: 1000;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.play-buttons{
    display: flex;
    justify-content: center;
}
.symbol{
    height: 100px;
    width: 100px;
    background-color: rgb(255, 0, 204);
    color: black;
    font-size: 5rem;
    font-weight: 900;
    border: 2px solid white;
    border-radius: 10px;
    margin: 0px 20px 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}

/*game-over.html*/
.game-over{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.score-board{
    margin-top: 70px;
    height: 400px;
    width: 400px;
    border: 6px solid white;
    color:black;
    background-color: rgb(255, 0, 204);
    font-weight: 800;
    font-size: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.play-agn{
    margin-top: 120px;
    background-color: rgb(255, 0, 204);
    font-size: 2rem;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid white;
    border-radius: 10px;
    width: 200px;
    height: 100px;
}

@media screen and (max-width:1000px) {
     .top-bar h1{
        font-size: 2.5rem;
        display: flex;
        justify-content: center;
        color: rgb(255, 0, 204);
        margin-top: 100px;
    }
    .heading h1{
        margin-top: 200px;
        font-size: 2.5rem;
        display: flex;
        justify-content: center;
        color: rgb(255, 0, 204);
    }
    .subtitle{
        text-align: center;
    }
    .subtitle h3{
        font-size: 1.8rem;
    }
    .box{
        height: 130px;
        width: 130px;
        margin-top: 50px;
    }
    .guess{
        font-size: 4rem;
        margin-top: 50px;
    }
    .game-rule{
        font-size: 1rem;
    }
    .time{
        height: 60px;
        width: 80px;
        margin-right: 40px;
    }
    .top-bar{
       display: block;
    }
    .symbol{
        transition: 0.5s ease;
        margin-top: 80px;
    }
    .score-board{
        margin-top: 200px;
        height: 200px;
        width: 200px;
        font-size: 8rem;
    }
    .play-agn{
        margin-top: 250px;
    }

}